@model IEnumerable<WebKeyBoardShop.Models.KeyBoard>
@{
    ViewData["Title"] = "Список смартфонов";
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <title>Магазин Клавиатур</title>
</head>
<body>
    <h3>Клавиатуры</h3>
    <table>
        <tr>
            <td>Название</td>
            <td>Длительность гарантиии(в годах)</td>
            <td>Цена</td>
            <td></td>
        </tr>
        @foreach (var keyboard in Model)
        {
            <tr>
                <td>@keyboard.Name</td>
                <td>@keyboard.GuaranteeTime</td>
                <td>@keyboard.Price</td>
                <td><a href="~/Home/Buy/@keyboard.Id">Купить</a></td>
            </tr>
        }
    </table>
</body>
</html>